* {
  padding: 0px;
  margin: 0px;
  border: linen;
}

body {
    
  background: #f3f2f2;
}

.form {
  border: rgb(30, 30, 30) dashed;
  padding: 10px 15px;
  font-family : cursive;
}

fieldset {
  border: 3px solid black; /* Adjust '3px' for desired boldness */
  padding: 10px;
  margin-top: 10px;
}
legend {
  font-weight: bold; /* Makes the legend text bold */
  padding: 0 20px;
  font-family:Arial, Helvetica, sans-serif ;
}
div {
  margin-top: 10px;
}

.button {
  height: auto;
  display: flex;
  justify-content: center;
}

button {
  height: 70px;
  width: 20%;
  font-size: 15px;
  font-weight: bolder;
  text-decoration: underline;
  background-color: white;
  margin-left: 20px;
}

textarea {
  /* height: 10%; */
  width: 50%;
}

.main-div {
  padding: 10px 20px;
  width: 45%;
  display: flexbox;
}

.pizza-order {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.size {
  width: 30%;
  padding: 5px 30px;
}

.topping {
  width: 30%;
  padding: 5px 30px;
}

.super-div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}
@media screen and (max-width: 815px) {
  .main-div {
    width: 100%;
  }
}